{% extends "base.html" %}
{% block content %}

<h1> Add Media </h1>
<table>
    <tr>
        <td> <strong> Title </strong> </td>
        <td> <strong> Type </strong> </td>
        <td> <strong> Genre </strong> </td>
        <td> <strong> Release Date </strong> </td>
        <td> <strong> Notes </strong> </td>
    </tr>
    <tr>
        <form method= 'POST'>
            <td> <input name= "add_title" type= "text" /> </td>
            <td> <input name= "add_type" type= "text" /> </td>
            <td> <input name= "add_genre" type= "text" /> </td>
            <td> <input name= "add_release_date" type= "text" /> </td>
            <td> <input name= "add_notes" type= "text" /> </td>
            <td> <input type= 'submit' value= "Commit" /> </td>
        </form>
    </tr>
</table>
<h1> Media Added </h1>
<table>
    <tr>
        <td> <strong> Name </strong> </td>
        <td> <strong> Type </strong> </td>
        <td> <strong> Genre </strong> </td>
        <td> <strong> Release Date </strong> </td>
        <td> <strong> Notes </strong> </td>
    </tr>
    {% for media in Medias2Consume %}
        <tr>
            <td> {{ media.title }} </td>
            <td> {{ media.type }} </td>
            <td> {{ media.genre }} </td>
            <td> {{ media.release_date }} </td>
            <td> {{ media.notes }} </td>
            <td>
                <form>
                    <input name= "consumed" type= "submit" value= "Consumed" />
                </form>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}