{% extends "base.html" %}
{% block content %}

<h1> Add Media </h1>
<table>
    <tr>
        <td> <b> Title </b> </td>
        <td> <b> Type </b> </td>
        <td> <b> Genre </b> </td>
        <td> <b> Release Date </b> </td>
        <td> <b> Notes </b> </td>
    </tr>
    <tr>
        <form method= 'POST'>
            <td> <input name= "add_title" type= "text" /> </td>
            <td> <input name= "add_type" type= "text" /> </td>
            <td> <input name= "add_genre" type= "text" /> </td>
            <td> <input name= "add_release_date" type= "text" /> </td>
            <td> <input name= "add_notes" type= "text" /> </td>
            <td> <input type= 'submit' value= "Commit" /> </td>
        </form>
    </tr>
</table>
<h1> Media Added </h1>
<table>
    <tr>
        <td> <b> ID </b> </td>
        <td> <b> Name </b> </td>
        <td> <b> Type </b> </td>
        <td> <b> Genre </b> </td>
        <td> <b> Release Date </b> </td>
        <td> <b> Notes </b> </td>
    </tr>
    {% for media in Medias2Consume %}
        <tr>
            <td> {{ media.id }} </td>
            <td> {{ media.title }} </td>
            <td> {{ media.type }} </td>
            <td> {{ media.genre }} </td>
            <td> {{ media.release_date }} </td>
            <td> {{ media.notes }} </td>
            <td>
                <a href= "/consume?media={{ media.id }}">Consume</a>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}